<h2 id="title">Welcome to Ember</h2>

<div> {{#link-to 'parentchild'}}Parent Child Communication{{/link-to}} </div>
<div> {{#link-to 'complifecycle'}}Component Life Cycle{{/link-to}} </div>
<div> {{#link-to 'mutable'}}Mutable Component{{/link-to}} </div>

{{outlet}}
