<div>Demo of Mutable concept in Components</div>

<div><b>Create Folder Demo:</b> {{tempVal}} </div>
{{create-res value=(readonly tempVal)}}
<div><b>Create Workspace Demo:</b> {{tempMutVal}} </div>
{{create-res value=tempMutVal}}
